@charset "UTF-8";
/* quicksand-300 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Quicksand/quicksand-v22-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Quicksand/quicksand-v22-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand/quicksand-v22-latin-300.woff2") format("woff2"), url("../fonts/Quicksand/quicksand-v22-latin-300.woff") format("woff"), url("../fonts/Quicksand/quicksand-v22-latin-300.ttf") format("truetype"), url("../fonts/Quicksand/quicksand-v22-latin-300.svg#Quicksand") format("svg");
  /* Legacy iOS */
}

/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Quicksand/quicksand-v22-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Quicksand/quicksand-v22-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand/quicksand-v22-latin-regular.woff2") format("woff2"), url("../fonts/Quicksand/quicksand-v22-latin-regular.woff") format("woff"), url("../fonts/Quicksand/quicksand-v22-latin-regular.ttf") format("truetype"), url("../fonts/Quicksand/quicksand-v22-latin-regular.svg#Quicksand") format("svg");
  /* Legacy iOS */
}

/* quicksand-500 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Quicksand/quicksand-v22-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Quicksand/quicksand-v22-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand/quicksand-v22-latin-500.woff2") format("woff2"), url("../fonts/Quicksand/quicksand-v22-latin-500.woff") format("woff"), url("../fonts/Quicksand/quicksand-v22-latin-500.ttf") format("truetype"), url("../fonts/Quicksand/quicksand-v22-latin-500.svg#Quicksand") format("svg");
  /* Legacy iOS */
}

/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Quicksand/quicksand-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Quicksand/quicksand-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand/quicksand-v22-latin-700.woff2") format("woff2"), url("../fonts/Quicksand/quicksand-v22-latin-700.woff") format("woff"), url("../fonts/Quicksand/quicksand-v22-latin-700.ttf") format("truetype"), url("../fonts/Quicksand/quicksand-v22-latin-700.svg#Quicksand") format("svg");
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Open_Sansopen-sans-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Open_Sans/open-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open_Sans/open-sans-v18-latin-regular.woff2") format("woff2"), url("../fonts/Open_Sans/open-sans-v18-latin-regular.woff") format("woff"), url("../fonts/Open_Sans/open-sans-v18-latin-regular.ttf") format("truetype"), url("../fonts/Open_Sans/open-sans-v18-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Open_Sansopen-sans-v18-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Open_Sans/open-sans-v18-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/Open_Sans/open-sans-v18-latin-600.woff2") format("woff2"), url("../fonts/Open_Sans/open-sans-v18-latin-600.woff") format("woff"), url("../fonts/Open_Sans/open-sans-v18-latin-600.ttf") format("truetype"), url("../fonts/Open_Sans/open-sans-v18-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Open_Sans/open-sans-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Open_Sans/open-sans-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Open_Sans/open-sans-v18-latin-700.woff2") format("woff2"), url("../fonts/Open_Sans/open-sans-v18-latin-700.woff") format("woff"), url("../fonts/Open_Sans/open-sans-v18-latin-700.ttf") format("truetype"), url("../fonts/Open_Sans/open-sans-v18-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Roboto/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/Roboto/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/Roboto/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/Roboto/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Roboto/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/Roboto/roboto-v27-latin-500.woff") format("woff"), url("../fonts/Roboto/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/Roboto/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/*global styles*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

body {
  font-family: 'Quicksand', 'Arial', sans-serif;
}

.container {
  max-width: 1220px;
  height: 100%;
  margin: 0 auto;
  padding: 0px 10px;
}

.section {
  width: 100%;
  border-bottom: 1px solid #d8e3fe;
  position: relative;
}

.section__body {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section__block-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__block-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.section__title {
  font-weight: 300;
  text-align: center;
}

.section__title--small {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title--bold {
  font-weight: 700;
}

/*styles for buttons*/
.button {
  height: 43px;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: font-size, 0.2s;
  -o-transition: font-size, 0.2s;
  transition: font-size, 0.2s;
}

.button-start, .button-readNow {
  min-width: 113px;
  background-color: #D2E1FF;
  color: #5E80FF;
}

.button-video {
  min-width: 130px;
  background: #5E80FF;
  -webkit-box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
          box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.button-video-img {
  margin-top: 3px;
  margin-left: 6px;
}

.button-features {
  min-width: 130px;
  background: transparent;
  border: 1px solid #D1D1E4;
  color: #ADB4D2;
  font-weight: 500;
}

.button-readMore {
  min-width: 113px;
  background: #FFD7D7;
  color: #D43F3F;
}

.button-addBookmarks {
  min-width: 195px;
  background: #fff;
  color: #8D96BD;
}

.button-goToDoc {
  min-width: 195px;
  background: #EFEFF7;
  color: #8D96BD;
  font-weight: 500;
}

.button-price {
  min-width: 130px;
  background: #fff;
  color: #495274;
}

.button-readDoc {
  min-width: 165px;
  background: transparent;
  border: 1px solid #d8e3fe;
  color: #d8e3fe;
  font-weight: 500;
}

.button-formSave {
  min-width: 184px;
  height: 59px;
  background: #5E80FF;
  -webkit-box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
          box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
}

.button:hover, .button:focus {
  cursor: pointer;
  border: 2px solid;
}

/* styles for header */
.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d8e3fe;
}

.header__body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
}

.header__leftside, .header__rightside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__leftside .button, .header__rightside .button {
  margin-left: 44px;
}

.header .logo {
  -webkit-flex-basis: 26px;
      -ms-flex-preferred-size: 26px;
          flex-basis: 26px;
  margin-right: 38px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .logo {
    margin-right: 25px;
  }
  .header .button {
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    z-index: 3;
  }
  .header__leftside {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__rightside {
    display: none;
  }
}

/* styles for section Home */
.section-home {
  width: 100%;
  min-height: 570px;
  background-image: url(/img/background-home.jpg);
  background-color: #F5F8FF;
  background-position: 50% 100%;
  -webkit-background-size: cover;
          background-size: cover;
}

.section-home .section__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 90px 0;
}

.section-home .section__title {
  font-size: 48px;
  line-height: 60px;
  color: #3D4F9F;
  margin-top: 0;
}

@media (max-width: 767px) {
  .section-home .section__body {
    padding: 70px 0 40px;
  }
}

/* styles for section Customers */
.section-customers {
  width: 100%;
  background-color: #fff;
}

.section-customers .section__body {
  display: block;
  padding: 30px 0;
}

.section-customers .logo {
  -webkit-flex-basis: 116px;
      -ms-flex-preferred-size: 116px;
          flex-basis: 116px;
  margin: 30px 38px;
}

.section-customers .logo svg {
  margin: 0 auto;
  fill: #B6BAC7;
}

.section-customers .logo svg:hover, .section-customers .logo svg:active, .section-customers .logo svg:focus {
  fill: #5E80FF;
}

/* styles for section Plan And Manage */
.section-planAndManage {
  width: 100%;
  background: #F5F8FF;
}

.section-planAndManage .section__body {
  padding: 200px 10px;
}

.section-planAndManage .section__leftside {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-planAndManage .section__leftside .container {
  max-width: 610px;
  margin: 0;
  padding: 0 30px 0 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-planAndManage .section__rightside {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-planAndManage .section__rightside picture {
  -webkit-filter: drop-shadow 0px 20px 40px rgba(53, 60, 115, 0.15);
          filter: drop-shadow 0px 20px 40px rgba(53, 60, 115, 0.15);
}

.section-planAndManage .section__img {
  width: 100%;
}

.section-planAndManage .section__img img {
  width: 100%;
}

.section-planAndManage .section__block-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-planAndManage .section__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: left;
  color: #3D4F9F;
}

.section-planAndManage .section__title--small {
  padding-bottom: 27px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-planAndManage .section__title--bold {
  font-weight: 500;
}

.section-planAndManage .section__text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin: 27px 0 47px 0;
}

@media (max-width: 767px) {
  .section-planAndManage .section__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 10px 40px;
  }
  .section-planAndManage .section__leftside {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-planAndManage .section__leftside .container {
    padding: 0;
    margin: 0;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .section-planAndManage .section__rightside {
    display: none;
  }
  .section-planAndManage .section__title {
    text-align: center;
  }
  .section-planAndManage .section__title--small {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* styles for section Feauteres */
.section-features {
  width: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-color: #fff;
}

.section-features .container {
  background-image: url(/img/background-clouds-blue.png);
  background-color: #fff;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.section-features .section__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0;
}

.section-features .section__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #3D4F9F;
  margin-bottom: 92px;
}

.section-features .section__title--small {
  padding-bottom: 16px;
}

.section-features .section__block-column {
  padding: 0 33px;
  margin-bottom: 92px;
  margin: 0 auto 92px;
}

.section-features .section__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 69px;
  height: 69px;
  border: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #F5F8FF;
  margin-bottom: 33px;
}

.section-features .section__caption {
  font-family: 'Open Sans', 'Arial Black', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #5E80FF;
  margin-bottom: 25px;
}

.section-features .section__text--small {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #ADB3CB;
  min-height: 102px;
  max-width: 140px;
}

.section-features .section__block-line:nth-child(2) {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-features .section__block-line .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.section-features .section__block-line .section__separator {
  margin: auto 47px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  color: #ADB3CB;
  text-transform: uppercase;
  position: relative;
}

.section-features .section__block-line .section__separator::before {
  content: "";
  position: absolute;
  background-color: #d8e3fe;
  border: none;
  height: 1px;
  top: 10px;
  left: -33px;
  width: 15px;
}

.section-features .section__block-line .section__separator::after {
  content: "";
  position: absolute;
  background-color: #d8e3fe;
  border: none;
  height: 1px;
  top: 10px;
  left: 33px;
  width: 15px;
}

@media (max-width: 768px) {
  .section-features .section__body {
    padding: 70px 0 40px;
  }
  .section-features .section__caption {
    font-size: 16px;
  }
  .section-features .section__text--small {
    font-size: 14px;
    line-height: 24px;
    max-width: 240px;
  }
}

@media (max-width: 631px) {
  .section-features .section__block-line .wrap .section__block-column {
    margin-bottom: 60px;
  }
  .section-features .section__icon {
    margin-bottom: 20px;
  }
  .section-features .section__caption {
    margin-bottom: 15px;
  }
  .section-features .section__text--small {
    min-height: 0;
    max-width: 300px;
  }
}

@media (max-width: 369px) {
  .section-features .section__block-line .section__separator {
    margin: auto 10px;
  }
  .section__separator::before,
  .section__separator::after {
    display: none;
  }
}

/* styles for section Statistics */
.section-statistics {
  width: 100%;
  min-height: 342px;
}

.section-statistics .section__body {
  width: 100%;
}

.section-statistics .section__block-column--blue {
  width: 50%;
  height: inherit;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  padding: 66px 90px 66px 10px;
  background: -webkit-linear-gradient(220deg, #6888FF 13%, #5E80FF 73%);
  background: -o-linear-gradient(220deg, #6888FF 13%, #5E80FF 73%);
  background: linear-gradient(230deg, #6888FF 13%, #5E80FF 73%);
  color: #fff;
}

.section-statistics .section__block-column--white {
  width: 50%;
  height: inherit;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 66px 10px 66px 90px;
  background: -webkit-linear-gradient(348deg, #E9EFFF 42%, #E0E9FF 82%);
  background: -o-linear-gradient(348deg, #E9EFFF 42%, #E0E9FF 82%);
  background: linear-gradient(102deg, #E9EFFF 42%, #E0E9FF 82%);
  color: #5E80FF;
}

.section-statistics .section__icon {
  width: 70px;
  height: 70px;
  margin-bottom: 24px;
}

.section-statistics .section__title {
  font-size: 48px;
  line-height: 83px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.section-statistics .section__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  max-width: 260px;
}

@media (max-width: 767px) {
  .section-statistics .section__block-column--blue {
    padding-right: 40px;
  }
  .section-statistics .section__block-column--white {
    padding-left: 40px;
  }
}

@media (max-width: 415px) {
  .section-statistics .section__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-statistics .section__block-column--blue {
    width: 100%;
    padding: 50px 10px 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section-statistics .section__block-column--white {
    width: 100%;
    padding: 30px 10px 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

/* styles for section Blog */
.section-blog {
  width: 100%;
  background: #F5F8FF;
}

.section-blog .section__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}

.section-blog .section__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #3D4F9F;
  margin-bottom: 92px;
}

.section-blog .section__title--small {
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .section-blog .section__body {
    padding: 70px 0 40px;
  }
}

/* styles for section Quotes */
.section-quotes {
  width: 100%;
  background: -webkit-linear-gradient(348deg, #E9EFFF 42%, #E0E9FF 82%);
  background: -o-linear-gradient(348deg, #E9EFFF 42%, #E0E9FF 82%);
  background: linear-gradient(102deg, #E9EFFF 42%, #E0E9FF 82%);
}

.section-quotes .section__body {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.section-quotes .section__title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 500;
  color: #3D4F9F;
  margin-bottom: 14px;
  text-align: left;
}

.section-quotes .section__title--small {
  padding-bottom: 31px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-quotes .section__text {
  max-width: 323px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #ADB3CB;
}

@media (max-width: 767px) {
  .section-quotes .section__body {
    padding: 70px 0 40px;
  }
}

/* styles for section FAQ */
.section-faq {
  width: 100%;
  background: #fff;
}

.section-faq .section__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 175px 0;
}

.section-faq .section__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #3D4F9F;
  margin-bottom: 68px;
}

.section-faq .section__title--small {
  padding-bottom: 20px;
}

.section-faq .accordion {
  margin-left: 19%;
  margin-right: 19%;
}

@media (max-width: 1023px) {
  .section-faq .accordion {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .section-faq .section__body {
    padding: 70px 0 40px;
  }
}

/* styles for section Get Started */
.section-getStarted {
  width: 100%;
  background-image: url(/img/background-get-started.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 100%;
  background-color: #5E80FF;
}

.section-getStarted .section__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 0;
}

.section-getStarted .section__title {
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 28px;
}

.section-getStarted .section__title--small {
  padding-bottom: 16px;
}

.section-getStarted .section__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  max-width: 712px;
  margin-bottom: 28px;
}

@media (max-width: 767px) {
  .section-getStarted .section__body {
    padding: 70px 0 40px;
  }
}

/* styles for section Newsletter */
.section-newsletter {
  width: 100%;
  background: #F5F8FF;
}

.section-newsletter .section__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 130px 0;
}

.section-newsletter .section__block-column {
  padding-right: 80px;
}

.section-newsletter .section__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.section-newsletter .section__form-input {
  width: 279px;
  height: 59px;
  padding-left: 23px;
  border: none;
  background: #EFEFF7;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-right: 14px;
}

.section-newsletter .section__form-input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #8D96BD;
}

.section-newsletter .section__form-input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #8D96BD;
}

.section-newsletter .section__form-input::-ms-input-placeholder {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #8D96BD;
}

.section-newsletter .section__form-input::placeholder {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #8D96BD;
}

.section-newsletter .section__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #3D4F9F;
  margin-bottom: 18px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.section-newsletter .section__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  max-width: 330px;
}

@media (max-width: 1023px) {
  .section-newsletter .section__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-newsletter .section__body .section__block-column {
    padding-right: 0px;
    margin-bottom: 80px;
    text-align: center;
  }
  .section-newsletter .section__body .section__block-column .section__title {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
}

@media (max-width: 767px) {
  .section-newsletter .section__body {
    padding: 70px 0 40px;
  }
}

@media (max-width: 496px) {
  .button-formSave {
    margin-top: 20px;
    width: 279px;
  }
  .section-newsletter .section__form-input {
    margin-right: 0;
  }
}

/* styles for section Footer */
.footer {
  width: 100%;
  background-color: #fff;
}

.footer .container {
  padding: 100px 10px;
}

.footer__body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__leftside, .footer__rightside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__leftside .button, .footer__rightside .button {
  margin-left: 44px;
}

.footer .logo {
  -webkit-flex-basis: 26px;
      -ms-flex-preferred-size: 26px;
          flex-basis: 26px;
  margin-right: 38px;
}

.footer__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__line .button {
  margin-left: 44px;
}

.footer__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__copyright {
  margin: 28px 0px 0px 95px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ADB3CB;
}

@media (max-width: 1023px) {
  .footer .logo {
    margin-right: 25px;
  }
  .footer .button {
    margin-left: 25px;
  }
  .footer__copyright {
    margin: 28px 0px 0px 63px;
  }
}

@media (max-width: 767px) {
  .footer__body {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__leftside {
    display: none;
  }
  .footer__rightside .social {
    margin-bottom: 30px;
  }
  .footer__rightside .button {
    display: none;
  }
  .footer__copyright {
    margin: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container {
    padding: 20px 0;
  }
}

/* styles for block Menu */
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.menu__item {
  list-style: none;
  margin: 0 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #495274;
  text-shadow: 0px 0px 5px #E6E6E6;
}

.menu__link:hover, .menu__link:active, .menu__link:focus {
  color: #5E80FF;
  text-shadow: -0.06ex 0 #5E80FF, 0.06ex 0 #5E80FF;
}

.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  display: none;
}

.burger-menu .button-start {
  margin: 10px 0;
}

@media (max-width: 1023px) {
  .menu__item {
    margin: 0 12px;
  }
}

@media (max-width: 767px) {
  .menu {
    height: 100vh;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .menu__list {
    width: 100%;
    height: 60vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__item {
    margin: 5px 0;
  }
  .menu__link {
    font-size: 24px;
    line-height: 24px;
  }
  .burger-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

/* styles for block Social */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 35px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link-img {
  height: 100%;
  fill: #B6BAC7;
}

.social__link-img:hover, .social__link-img:active, .social__link-img:focus {
  fill: #5E80FF;
}

.social .icon-telegram:hover .telegram-color-01, .social .icon-telegram:active .telegram-color-01, .social .icon-telegram:focus .telegram-color-01 {
  fill: #1e4eff;
}

.social .icon-telegram:hover .telegram-color-02, .social .icon-telegram:active .telegram-color-02, .social .icon-telegram:focus .telegram-color-02 {
  fill: #002fde;
}

.social .icon-telegram:hover .telegram-color-03, .social .icon-telegram:active .telegram-color-03, .social .icon-telegram:focus .telegram-color-03 {
  fill: #5E80FF;
}

@media (max-width: 1023px) {
  .social__item {
    margin-right: 25px;
  }
}

/* styles for block Accordion */
.card {
  outline: 0;
  outline-offset: 0;
  border-bottom: 1px solid #d8e3fe;
  margin-bottom: 17px;
}

.card:last-child {
  margin-bottom: 0px;
}

.card__header {
  height: 60px;
  padding-left: 60px;
  position: relative;
  list-style: none;
  outline: 0;
  outline-offset: 0;
}

.card__header::-webkit-details-marker {
  display: none;
}

.card__body {
  margin-left: 60px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card__body .button-goToDoc {
  position: relative;
  top: 10px;
}

.card__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  max-width: 390px;
  padding-right: 62px;
  vertical-align: top;
}

.card__caption {
  height: 100%;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #3D4F9F;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__caption::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 24px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  border-right: 3px solid #8D96BD;
  border-top: 3px solid #8D96BD;
  height: 12px;
  width: 12px;
}

.card[open] .card__caption {
  font-weight: 700;
  color: #3D4F9F;
}

.card[open] .card__caption::before {
  top: 25px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-color: #3D4F9F;
}

.card__header:hover {
  cursor: pointer;
}

.card__header:hover .card__caption {
  color: #3D4F9F;
  text-shadow: -0.06ex 0 #3D4F9F, 0.06ex 0 #3D4F9F;
}

.card__header:hover .card__caption::before {
  border-right: 3px solid #3D4F9F;
  border-top: 3px solid #3D4F9F;
}

@media (max-width: 767px) {
  .accordion .card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accordion .card__body .card__text {
    max-width: 100%;
    padding: 0;
  }
}

/* styles for block Logo */
.logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.logo img,
.logo svg {
  display: block;
  max-width: 100%;
}

.main-logo {
  z-index: 3;
}

/* styles for block Slider at the section Home */
.home-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home-slider input {
  display: none;
}

.home-slider__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  width: 500px;
  padding: 0 10px;
}

.home-slider__card-1, .home-slider__card-2, .home-slider__card-3 {
  position: absolute;
  top: 208px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  z-index: 0;
}

.home-slider__card-1 p, .home-slider__card-2 p, .home-slider__card-3 p {
  margin: 28px auto 20px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

.home-slider__button {
  width: 52px;
  height: 52px;
  border: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
          box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  margin: 0  auto;
}

.home-slider__button:hover {
  cursor: pointer;
}

.home-slider__control-buttons {
  width: 48px;
  height: 8px;
  position: absolute;
  bottom: 28px;
  left: 50%;
  margin-left: -24px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-slider__control-buttons label {
  height: 8px;
  width: 8px;
  background-color: #B6BAC7;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: background ease-in-out 0.5s;
  -o-transition: background ease-in-out 0.5s;
  transition: background ease-in-out 0.5s;
}

.home-slider__control-buttons label:hover {
  background-color: #5E80FF;
}

.home-slider #card-1:checked ~ .home-slider__control-buttons label:nth-of-type(1),
.home-slider #card-2:checked ~ .home-slider__control-buttons label:nth-of-type(2),
.home-slider #card-3:checked ~ .home-slider__control-buttons label:nth-of-type(3) {
  background-color: #5E80FF;
}

.home-slider #card-1:checked ~ .home-slider__card-1,
.home-slider #card-2:checked ~ .home-slider__card-2,
.home-slider #card-3:checked ~ .home-slider__card-3 {
  opacity: 1;
  z-index: 1;
}

@media (max-width: 767px) {
  .home-slider__card {
    width: 100%;
  }
}

.burger__checkbox {
  display: none;
}

.burger__label {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}

.burger__label:hover, .burger__label:focus, .burger__label:active {
  cursor: pointer;
}

.burger-button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.burger-button__line {
  width: 100%;
  height: 6px;
  background-color: #5E80FF;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  z-index: 3;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.burger-button__line::before, .burger-button__line::after {
  content: "";
  height: 6px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #5E80FF;
  position: absolute;
  right: 0px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.burger-button__line::before {
  width: 26px;
  top: 0px;
}

.burger-button__line::after {
  width: 18px;
  bottom: 0px;
}

.burger__checkbox:checked ~ .burger-menu {
  height: 100vh;
}

.burger__checkbox:checked ~ .burger-button > .burger-button__line {
  background-color: transparent;
}

.burger__checkbox:checked ~ .burger-button > .burger-button__line::before {
  width: 30px;
  top: 12px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__checkbox:checked ~ .burger-button > .burger-button__line::after {
  width: 30px;
  top: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 767px) {
  .burger {
    display: none;
  }
}

.customers-slider {
  margin: 0 auto;
}

.blog-slider {
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  height: 100%;
  max-width: 1058px;
  position: relative;
  /*customization*/
  /*Стрелка*/
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
  /*slides style*/
}

.blog-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0px;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 0;
}

.blog-slider .slick-arrow:hover {
  cursor: pointer;
}

.blog-slider .slick-arrow.slick-prev {
  left: 0;
  background: url(/img/svg/icon-left.svg) 0 0/100% no-repeat;
}

.blog-slider .slick-arrow.slick-next {
  right: 0;
  background: url(/img/svg/icon-right.svg) 0 0/100% no-repeat;
}

.blog-slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-slider .slick-dots li {
  list-style: none;
  margin: 0 6px;
}

.blog-slider .slick-dots li.slick-active button {
  background-color: #5283FF;
}

.blog-slider .slick-dots li button {
  font-size: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #D1D6E3;
}

.blog-slider .slider-card {
  padding: 65px 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  border: 1px solid #D8E3FE;
  margin: 0 auto;
}

.blog-slider .slider-card__leftside, .blog-slider .slider-card__rightside {
  width: 50%;
}

.blog-slider .slider-card__leftside {
  margin-right: 35px;
}

.blog-slider .slider-card__leftside .card__picture {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}

.blog-slider .slider-card__rightside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 35px;
}

.blog-slider .slider-card__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  margin-bottom: 30px;
}

.blog-slider .slider-card__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
  overflow: hidden;
}

.blog-slider .slider-card__links {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

@media (max-width: 1023px) {
  .blog-slider {
    padding: 0;
  }
  .blog-slider .slider-card__leftside {
    display: none;
  }
  .blog-slider .slider-card__rightside {
    width: 100%;
    margin-left: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-slider .slider-card__caption {
    text-align: center;
  }
  .blog-slider .slider-card__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 510px) {
  .blog-slider .slider-card {
    padding: 20px;
  }
  .blog-slider .slider-card__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-slider .slider-card__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
