/*styles for buttons*/

.button {
    height: 43px;
    border: none;
    border-radius: 2px;
    text-decoration: none; 
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: font-size, 0.2s;
    &-start,
    &-readNow {
        min-width: 113px;
        background-color: $color-btn-01;
        color: $color-main-01;
    }
    &-video {
        min-width: 130px;
        background: $color-main-01;
        box-shadow: 0px 5px 15px $color-shadow-01;
        justify-content: center;
        align-items: center;
        color: $color-main-02;
        &-img {
            margin-top: 3px;
            margin-left: 6px;
        }
    }
    &-features {
        min-width: 130px;
        background: transparent;
        border: 1px solid #D1D1E4;
        color: #ADB4D2;
        font-weight: 500;
    }
    &-readMore {
        min-width: 113px;
        background: $color-btn-02;          
        color: $color-text-red;
    }
    &-addBookmarks {
        min-width: 195px;
        background: $color-main-02;          
        color: $color-text;
    }
    &-goToDoc {
        min-width: 195px;
        background: $color-grey-light;          
        color: $color-text;
        font-weight: 500;
    }
    &-price {
        min-width: 130px;
        background: $color-main-02;        
        color:  $color-text-dark;
    }
    &-readDoc {
        min-width: 165px;
        background: transparent;
        border: 1px solid $color-border;          
        color:  $color-border;
        font-weight: 500;
    }
    &-formSave {
        min-width: 184px;
        height: 59px;
        background: $color-main-01;
        box-shadow: 0px 5px 15px $color-shadow-02;
        border-radius: 5px;          
        color:  $color-main-02;
    }
    &:hover,
    &:focus {
        cursor: pointer;
        //font-size: 15px;
        border: 2px solid;

    }
}