/*global styles*/

* {
    box-sizing: border-box;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
}

body {
    font-family: 'Quicksand', 'Arial', sans-serif;
}


.container {
    max-width: 1220px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 10px;
}

.section {
    width: 100%;
    border-bottom: 1px solid $color-border;
    position: relative;
    &__body {
        height: inherit;
        display: flex;
    }
    &__block-line {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__block-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.section__title {
    font-weight: 300;
    text-align: center;
    &--small {
        font-family: 'Roboto', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        padding-bottom: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
    &--bold {
        font-weight: 700;
    }
}