$color-main-01: #5E80FF;
$color-main-02: #fff;

$color-titles: #3D4F9F;
$color-text: #8D96BD;
$color-text-dark: #495274;
$color-text-light: #ADB3CB;
$color-text-red: #D43F3F;

$color-background-01: #FFF;
$color-background-02: #F5F8FF;
$color-border: #d8e3fe;
$color-gradient-01: linear-gradient(230deg, #6888FF 13%, #5E80FF 73%);
$color-gradient-02: linear-gradient(102deg, #E9EFFF 42%, #E0E9FF 82%);

$color-btn-01: #D2E1FF;
$color-btn-02: #FFD7D7;
$color-btn-03: #E8ECF4;

$color-grey: #D6DAE5;
$color-grey-light: #EFEFF7;





