@import "fonts";
@import "global";
@import "buttons";


* {
    //border: 0.001px solid red;
    box-sizing: border-box;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
}


/*styles for sections*/

.header {
    height: 80px;
    width: 100%;
    background-color: #ffff;
    border-bottom: 1px solid #d8e3fe;
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__leftside,
    &__rightside  {
        display: flex;
        align-items: center;
        .button {
            margin-left: 44px;
        }
    }
}

.section-home  {
    width: 100%;
    height: 570px;
    background: url(/img/background-home.jpg);
    background-size: cover;
    .section__body {
        flex-direction: column;
    }
    .section__title {
        font-size: 48px;
        line-height: 60px;
        color: #3D4F9F;
        margin-top: 92px;
    }
}

.section-customers {
    width: 100%;
    height: 145px;
    background-color: #ffff;
    .section__body {
        align-items: center;
        justify-content: center;
    }
    .section__logo {
        display: flex;
        margin: 0 38px;
        width: 116px;
        object-fit: scale-down;
        &:hover,
        &:active,
        &:focus {
            .section__logo-img {
                display: none;
            }
            .section__logo-img--hover {
                display: block;
            }
        }
        &-img--hover {
            display: none;
        }
    }

}

.section-planAndManage {
    width: 100%;
    min-height: 776px;
    background: #F5F8FF;
    .section__leftside {
        width: 50%;
        &-body {
            max-width: 413px;
        }
        .container {
            max-width: 610px;
            margin-right: 0;
            padding-right: 40px;
            padding-top: 208px;
            display: flex;
            justify-content: flex-end;
        }
    }
    .section__rightside {
        width: 50%;       
        &-body {
            margin: 170px 45px 50px 65px;
            position: relative;
            max-width: 606px;
            img {
                filter: drop-shadow (0px 20px 40px rgba(53, 60, 115, 0.15));
            }
        }
    }
    .section__img-01 {
        width: 17.6%;
        position: absolute;
        top: 28.6%;
        left: -7.8%;
    }
    .section__img-02 {
        width: 100%;
    }
    .section__img-03 {
        width: 24.4%;
        position: absolute;
        top: 44.7%;
        right: 10.2%;
    }

    .section__block-line {
        display: flex;
    }
    .section__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        text-align: left;
        color: #3D4F9F;
        &--small {
            padding-bottom: 27px;
            justify-content: flex-start;
        }
        &--bold {
            font-weight: 500;
        }
    }
    .section__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        margin: 27px 0 47px 0;
    }
    .button-video {
        padding: 0 16px 0 24px;
    }
}

.section-features {
    width: 100%;
    height: 885px;
    background: url(/img/background-clouds-blue.png);
    background-size: cover;
    background-color: #FFFFFF;
    .section__body {
        flex-direction: column;
    }
    .section__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        color: #3D4F9F;
        margin-top: 171px;
        margin-bottom: 92px;
        &--small {
            padding-bottom: 16px;
        }
    }
    .section__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 69px;
        height: 69px;
        border: 0;
        border-radius: 50%;
        background-color: #F1F5FF;
        margin-bottom: 33px;
    }
    .section__block-column {
        margin: 0 33px;
        margin-bottom: 92px;
    }
    .section__caption {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 25px;
        color: #4074F8;
        margin-bottom: 25px;
    }
    .section__text--small {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 19px;
        text-align: center;
        color: #ADB3CB;
        min-height: 102px;
        max-width: 140px;
    }
    .section__block-line {
        .section__separator {
            margin: auto 47px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 20px;
            color: #ADB3CB;
            text-transform: uppercase;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-color: #DAE4FE;
                border: none;
                height: 1px;
                top: 10px;
                left: -33px;
                width: 15px;    
            }
            &::after {
                content: "";
                position: absolute;
                background-color: #DAE4FE;
                border: none;
                height: 1px;
                top: 10px;
                left: 33px;
                width: 15px;
            }
        }
    }
}

.section-statistics {
    width: 100%;
    height: 342px;
    .section__body {
        align-items: flex-start;
    }
    .section__block-column--blue {
        width: 50%;
        height: inherit;
        align-items: flex-end;
        text-align: right;
        padding-top: 66px;
        padding-right: 90px;
        background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
        color: #FFFFFF;
    }
    .section__block-column--white {
        width: 50%;
        height: inherit;
        align-items: flex-start;
        padding-top: 66px;
        padding-left: 90px;
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
        color: #5E80FF;
    }
    .section__icon {
        width: 70px;
        height: 70px;
        margin-bottom: 24px;
    }
    .section__title {
        font-size: 48px;
        line-height: 83px;
        font-weight: 400;
        letter-spacing: 0.03em;
    }
    .section__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.03em;
        max-width: 260px;
    }
}

.section-blog {
    width: 100%;
    min-height: 776px;
    background: #F5F8FF;
    .section__body {
        flex-direction: column;
    }
    .section__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        color: #3D4F9F;
        margin-top: 104px;
        margin-bottom: 92px;
        &--small {
            padding-bottom: 20px;
        }
    }
}

.section-quotes {
    width: 100%;
    min-height: 479px;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    .section__body {
        justify-content: space-between;
    }
    .section__title {
        font-size: 36px;
        line-height: 45px;
        font-weight: 500;
        color: #3D4F9F;
        margin-top: 146px;
        margin-bottom: 14px;
        text-align: left;
        &--small {
            padding-bottom: 31px;
            justify-content: flex-start;
        }
    }
    .section__text {
        max-width: 323px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #A4ABC8;
    }
}

.section-faq {
    width: 100%;
    min-height: 964px;
    background: #ffff;
    .section__body {
        flex-direction: column;
    }
    .section__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        color: #3D4F9F;
        margin-top: 176px;
        margin-bottom: 68px;
        &--small {
            padding-bottom: 20px;
        }
    }
}

.section-getStarted {
    width: 100%;
    min-height: 447px;
    background: url(/img/background-get-started.jpg);
    background-size: cover;
    .section__body {
        flex-direction: column;
        align-items: center;
    }
    .section__title {
        font-size: 48px;
        line-height: 60px;
        color: #ffff;
        margin-top: 92px;
        margin-bottom: 28px;
        &--small {
            padding-bottom: 16px;
        }
    }
    .section__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        max-width: 712px;
        margin-bottom: 28px;
    }    
}

.section-newsletter {
    width: 100%;
    min-height: 332px;
    background: #FCFDFF;
    .section__body {
        flex-direction: row;
        justify-content: center;
    }
    .section__block-column {
        padding-right: 80px;
    }
    .section__form {
        margin-top: 136px;
        display: flex;
        &-input {
            width: 279px;
            height: 59px;
            padding-left: 23px;
            border: none;   
            background: #EFEFF7;
            border-radius: 5px;
            &::placeholder {
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                color: #7A85AD;
            }
            margin-right: 14px;
        }
    }
    .section__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: #3D4F9F;
        margin-top: 118px;
        margin-bottom: 18px;
        align-self: flex-start;
    }
    .section__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        max-width: 330px;

    }
}

.footer {
    height: 287px;
    width: 100%;
    background-color: #ffff;
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__leftside,
    &__rightside  {
        display: flex;
        align-items: flex-start;
        margin-top: 93px;
    }
    &__line {
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
            margin-left: 44px;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__copyright {
        margin-top: 28px;
        margin-left: 98px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #AEB8D0;
    }
}


/*styles for blocks*/

.menu {
    display: flex;
    padding-inline-start: 0px;
    &__list {
        display: flex;
        padding-inline-start: 0px;
    }
    &__item {
        list-style: none;
        margin: 0 21px;
        display: flex;
    }
    &__link {
        text-decoration: none;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #697ca6;
        text-shadow: 0px 0px 5px #E6E6E6;
        &:hover,
        &:active,
        &:focus {
            //font-weight: 700;
            color: #5E81FE;

        }
    }
}

.social {
    display: flex;
    &__item {
        display: flex;
        justify-content: center;
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        &:hover,
        &:active,
        &:focus {
            .social__link-img {
                display: none;
            }
            .social__link-img--hover {
                display: block;
            }
        }
    }
    &__link-img--hover {
        display: none;
    }
}


.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    input {
        display: none;
    }    

    &__card {
        display: flex;
        flex-direction: column;
        transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    }

    &__card-1,
    &__card-2,
    &__card-3 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        z-index: 0;
    p {
        max-width: 502px;
        margin: 28px auto 20px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #8D96BD;
        }
    }
    &__button {
        width: 52px;
        height: 52px;
        border: 0;
        border-radius: 50%;
        background-color: #ffff;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
        margin: 0  auto;
        &:hover {
            cursor: pointer;
        }
    }

    &__control-buttons {
        width: 48px;
        height: 8px;
        position: absolute;
        bottom: 28px;
        left: 50%;
        margin-left: -24px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        
        label {
	        height: 8px;
	        width: 8px;
            background-color: #d1d6e3;
            cursor: pointer;
	        border-radius: 50%;
            transition: background ease-in-out 0.5s;
            &:hover {
                background-color: #5283ff;
            }
        }
    }
    
    #card-1:checked ~ .slider__control-buttons label:nth-of-type(1),
    #card-2:checked ~ .slider__control-buttons label:nth-of-type(2),
    #card-3:checked ~ .slider__control-buttons label:nth-of-type(3) {
	    background-color: #5283ff;
    }

    #card-1:checked ~ .slider__card-1,
    #card-2:checked ~ .slider__card-2,
    #card-3:checked ~ .slider__card-3 {
	    opacity: 1;
	    z-index: 1;
    }
}

.accordion {
    margin-left: 19%;
    margin-right: 19%;
    .card {
        outline: 0;
        outline-offset: 0;
        border-bottom: 1px solid #D8E3FE;
        margin-bottom: 17px;
    }
    .card__header {
        height: 60px;
        padding-left: 60px;
        position: relative;
        list-style: none;
        outline: 0;
        outline-offset: 0;
        &::-webkit-details-marker {
            display: none
        }
    }
    .card__body {
        margin-left: 80px;
        margin-bottom: 45px;
        display: flex;
    }
    .card__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        max-width: 390px;
        padding-right: 62px;
        vertical-align: top;
    }
    .card__caption {
        font-weight: 500;
        font-size: 15px;
        line-height: 45px;
        letter-spacing: 0.03em;
        color: #8E96B7;
        &::before {
            content: "";
            position: absolute;
            top: 12px;
            left: 24px;
            transform: rotate(135deg);
            border-right: 3px solid #8E96B7;
            border-top: 3px solid #8E96B7;
            height:12px;
            width: 12px;
        }
    }
    .card[open] .card__caption {
        font-weight: 700;
        color: #495274;
        &::before {
            top: 20px;
            transform: rotate(-45deg);
            border-color: #495274;
        }
    }    
}

/*styles for elements*/

.logo {
    flex: 0 0 26px;
    margin-right: 52px;
        img {
        display: block;
        max-width: 100%;
        }
}

.section__title {
    font-weight: 300;
    text-align: center;
    &--small {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        padding-bottom: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
    &--bold {
        font-weight: 700;
    }
}