/* styles for section FAQ */ 
.section-faq {
    width: 100%;
    background: $color-main-02;
    .section__body {
        flex-direction: column;
        padding: 175px 0;
    }
    .section__title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        color: $color-titles;
        margin-bottom: 68px;
        &--small {
            padding-bottom: 20px;
        }
    }
    .accordion {
        margin-left: 19%;
        margin-right: 19%;
    }
}

@media (max-width:1023px) {
    .section-faq .accordion {
        margin: 0;
    }
}

@media (max-width:767px) {
    .section-faq .section__body {
        padding: 70px 0 40px;
    }
}
