/* styles for section Footer */ 
.footer {
    min-height: 287px;
    width: 100%;
    background-color: $color-main-02;
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    &__leftside,
    &__rightside  {
        display: flex;
        align-items: center;
        margin-top: 93px;
        .button {
            margin-left: 44px;
        }
    }
    .logo {
        flex-basis: 26px;
        margin-right: 38px;
    }
    
    
    
    
    &__line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .button {
            margin-left: 44px;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__copyright {
        margin: 28px 0px 90px 98px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: $color-text-light;
        
    }
}