/* styles for section Footer */ 
.footer {
    width: 100%;
    background-color: $color-main-02;
    .container {
        padding: 100px 10px;
    }
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    &__leftside,
    &__rightside  {
        display: flex;
        align-items: center;
        .button {
            margin-left: 44px;
        }
    }
    .logo {
        flex-basis: 26px;
        margin-right: 38px;
    }
    &__line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .button {
            margin-left: 44px;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__copyright {
        margin: 28px 0px 0px 95px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: $color-text-light;
        
    }
}

@media (max-width:1023px) {
    .footer .logo {
        margin-right: 25px;
    }
    .footer .button {
        margin-left: 25px;
    }
    .footer__copyright {
        margin: 28px 0px 0px 63px;
    }
}


@media (max-width: 767px) {

    .footer__body {
        justify-content: center;
    }

    .footer__leftside {
        display: none;
    }
    .footer__rightside {
        .social {
            margin-bottom: 30px;
        }
        .button {
            display: none;
        }
    }
    .footer__copyright {
        margin: 0;
        justify-content: center;
    }
    .footer .container {
        padding: 20px 0;
        //display: flex;
    }
}