/* styles for header */
.header {
    //height: 80px;
    width: 100%;
    background-color: #ffff;
    border-bottom: 1px solid #d8e3fe;
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 18px 0;
    }
    &__leftside,
    &__rightside  {
        display: flex;
        align-items: center;
        .button {
            margin-left: 44px;
        }
    }
    .logo {
        flex-basis: 26px;
        margin-right: 52px;
    }
}

