/* styles for header */
.header {
    width: 100%;
    background-color: $color-main-02;
    border-bottom: 1px solid $color-border;
    &__body {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 18px 0;
    }
    &__leftside,
    &__rightside  {
        display: flex;
        align-items: center;
        .button {
            margin-left: 44px;
        }
    }
    .logo {
        flex-basis: 26px;
        margin-right: 38px;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .logo {
        margin-right: 20px;
    }
    .button {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .header__leftside .menu {
        display: none;
    }
    .header__rightside .social {
        display: none;
    }
}