/* styles for section Home */ 
.section-home  {
    width: 100%;
    min-height: 570px;
    background-image: url(/img/background-home.jpg);
    background-color: $color-background-02;
    background-position: 50% 100%;
    background-size: cover;
    .section__body {
        flex-direction: column;
        padding: 90px 0;

    }
    .section__title {
        font-size: 48px;
        line-height: 60px;
        color: $color-titles;
        margin-top: 0;
    }
}

@media (max-width:767px) {
    .section-home .section__body {
        padding: 70px 0 20px;
    }
}