/* styles for section Newsletter */ 
.section-newsletter {
    width: 100%;
    background: $color-background-02;
    .section__body {
        flex-direction: row;
        justify-content: center;
        padding: 130px 0;
    }
    .section__block-column {
        padding-right: 80px;
    }
    .section__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &-input {
            width: 279px;
            height: 59px;
            padding-left: 23px;
            border: none;   
            background: $color-grey-light;
            border-radius: 5px;
            &::placeholder {
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                color: $color-text;
            }
            margin-right: 14px;
        }
    }
    .section__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: $color-titles;
        margin-bottom: 18px;
        align-self: flex-start;
    }
    .section__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: $color-text;
        max-width: 330px;

    }
}

@media (max-width:1023px) {
    .section-newsletter .section__body {
        flex-direction: column;
        align-items: center;
        .section__block-column {
            padding-right: 0px;
            margin-bottom: 80px;
            text-align: center;
            .section__title {
                align-self: center;
            }
        }
    }
}

@media (max-width:767px) {
    .section-newsletter .section__body {
        padding: 70px 0 20px;
    }
}

@media (max-width: 496px) {
    .button-formSave {
        margin-top: 20px;
        width: 279px;
    }
    .section-newsletter .section__form-input {
        margin-right: 0;
    }
}