/* styles for section Plan And Manage */ 
.section-planAndManage {
    width: 100%;
    background: $color-background-02;
    .section__body {
        padding: 200px 10px;
    }
    .section__leftside {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        .container {
            max-width: 610px;
            margin: 0;
            padding: 0 30px 0 150px;
            display: flex;
            flex-direction: column;

        }
    }
    .section__rightside {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;   
        picture {
            filter: drop-shadow (0px 20px 40px $color-shadow-05);
        }
    }
    .section__img {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .section__block-line {
        display: flex;
    }
    .section__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        text-align: left;
        color: $color-titles;
        &--small {
            padding-bottom: 27px;
            justify-content: flex-start;
        }
        &--bold {
            font-weight: 500;
        }
    }
    .section__text {
        font-family: 'Roboto', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: $color-text;
        margin: 27px 0 47px 0;
    }
}

@media (max-width:767px) {
    .section-planAndManage {
        .section__body {
            flex-direction: column;
            padding: 70px 10px 20px;
        }
        .section__leftside {
            width: 100%;
            justify-content: center;
            margin-bottom: 100px;
            .container {
            padding: 0;
            margin: 0;
            align-content: center;
            }
        }
        .section__rightside {
            display: none;
        }
        
        .section__title {
            text-align: center;
            &--small {
                justify-content: center;
            }
        }
    }
}