/* styles for section Statistics */ 
.section-statistics {
    width: 100%;
    min-height: 342px;
    .section__body {
        width: 100%;
    }
    .section__block-column--blue {
        width: 50%;
        height: inherit;
        align-items: flex-end;
        text-align: right;
        padding: 66px 90px 66px 0;
        background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
        color: #FFFFFF;
    }
    .section__block-column--white {
        width: 50%;
        height: inherit;
        align-items: flex-start;
        padding: 66px 0 66px 90px;
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
        color: #5E80FF;
    }
    .section__icon {
        width: 70px;
        height: 70px;
        margin-bottom: 24px;
    }
    .section__title {
        font-size: 48px;
        line-height: 83px;
        font-weight: 400;
        letter-spacing: 0.03em;
    }
    .section__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.03em;
        max-width: 260px;
    }
}