/* styles for block Accordion */
.card {
    outline: 0;
    outline-offset: 0;
    border-bottom: 1px solid #D8E3FE;
    margin-bottom: 17px;
}
.card__header {
    height: 60px;
    padding-left: 60px;
    position: relative;
    list-style: none;
    outline: 0;
    outline-offset: 0;
    &::-webkit-details-marker {
        display: none
    }
    &:hover {
        cursor: pointer;
    }
}
.card__body {
    margin-left: 80px;
    margin-bottom: 45px;
    display: flex;
    .button-goToDoc {
        position: relative;
        top: 10px;
    }
}
.card__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    max-width: 390px;
    padding-right: 62px;
    vertical-align: top;
}
.card__caption {
    font-weight: 500;
    font-size: 15px;
    line-height: 45px;
    letter-spacing: 0.03em;
    color: #8E96B7;
    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 24px;
        transform: rotate(135deg);
        border-right: 3px solid #8E96B7;
        border-top: 3px solid #8E96B7;
        height:12px;
        width: 12px;
    }
}
.card[open] .card__caption {
    font-weight: 700;
    color: #495274;
    &::before {
        top: 20px;
        transform: rotate(-45deg);
        border-color: #495274;
    }
}    
