/* styles for block Social */ 
.social {
    display: flex;
    &__item {
        display: flex;
        justify-content: center;
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link-img {
        height: 100%;
        fill: #B6BAC7;
        &:hover,
        &:active,
        &:focus {
            fill: #5283FF
        }
    }
    .icon-telegram {
        &>path:nth-child(1) {
            fill: #9399AB;
        }
        &>path:nth-child(2) {
            fill: #70788E;
        }
        &>path:nth-child(3) {
            fill: #B6BAC7;
        }
        &:hover,
        &:active,
        &:focus {
            fill: #5283FF
        }
    }
    
}