/* styles for block Social */ 
.social {
    display: flex;
    &__item {
        display: flex;
        justify-content: center;
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__link-img {
        height: 100%;
        fill: $color-grey;
        &:hover,
        &:active,
        &:focus {
            fill: $color-main-01
        }
    }
    .icon-telegram {
        &:hover,
        &:active,
        &:focus {
            .telegram-color-01 {
                fill: darken($color-main-01, 12.5);
            }
            .telegram-color-02 {
                fill: darken($color-main-01, 25);
            }
            .telegram-color-03 {
                fill: $color-main-01;
            }
        }
        
    }
}

@media (max-width:1023px) {
    .social__item {
        margin-right: 15px;
    }
}